In [159]:
subject="OOPs Theory"
date="25-09-2024"
section="2"
pdf_name=f"{subject} {date}.pdf"
pdf_name

'OOPs Theory 25-09-2024.pdf'

In [160]:
import pandas as pd
from reportlab.platypus import SimpleDocTemplate, Table, TableStyle,Paragraph
from reportlab.lib import colors
from reportlab.lib.pagesizes import A4
from reportlab.lib.styles import getSampleStyleSheet, ParagraphStyle
from reportlab.lib.units import inch

In [161]:
students=pd.read_csv('StudentList.csv')
students.head()

   Application Number             Name
0        105241000934        Chayanika
1        105242003318     KUMAR GAURAV
2        105242003319   SANJANA KUMARI
3        105242003323  SAAKSHEE PANDEY
4        105242003342     VINEET KUMAR

In [162]:
students['Application Number']=students['Application Number'].astype(str).str[-4:]
students

   Application Number               Name
0                0934          Chayanika
1                3318       KUMAR GAURAV
2                3319     SANJANA KUMARI
3                3323    SAAKSHEE PANDEY
4                3342       VINEET KUMAR
..                ...                ...
67               4237      ANSHIKA POPLI
68               4244  Abhilasha Gautam
69               4254      Himani Pandey
70               4320      SHIVAM MISHRA
71               2739     Kunal Deshmukh

[72 rows x 2 columns]

In [163]:
present=pd.read_csv('present.csv')
present['Application Number']=present['Application Number'].astype(str)

In [167]:
merged_df = pd.merge(students, present, on='Application Number')
merged_df.count()

Application Number    3
Name                  3
dtype: int64

In [165]:

pdf = SimpleDocTemplate(
    pdf_name, 
    pagesize=A4,
    leftMargin=0.5 * inch,
    rightMargin=0.5 * inch,
    topMargin=0.4 * inch,
    bottomMargin=0.4 * inch
)

styles = getSampleStyleSheet()
title_style = ParagraphStyle(
    name='Title',
    fontName='Helvetica-Bold',
    fontSize=14,
    spaceAfter=12,
    alignment=1,
    spaceBefore=0
)
title = Paragraph(f"{subject} {date} Section {section}", title_style)

table_data = [merged_df.columns.tolist()] + merged_df.values.tolist()

table = Table(table_data)

style = TableStyle([
    ('BACKGROUND', (0, 0), (-1, 0), colors.grey),
    ('TEXTCOLOR', (0, 0), (-1, 0), colors.whitesmoke),
    ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
    ('GRID', (0, 0), (-1, -1), 1, colors.black)
])
table.setStyle(style)

pdf.build([title, table])

print("PDF created successfully with a title and table.")

PDF created successfully with a title and table.