In [1]:
import pandas as pd

In [3]:
students=pd.read_csv('StudentList.csv')
students.head()

   Application Number             Name
0        105241000934        Chayanika
1        105242003318     KUMAR GAURAV
2        105242003319   SANJANA KUMARI
3        105242003323  SAAKSHEE PANDEY
4        105242003342     VINEET KUMAR

In [7]:
present=pd.read_csv('present.csv')
present.head()

   present
0     3881
1     2739